body {
    background-color: dee2e6;
}

h2 {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    color: white;
}

h1,
p {
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: white;
}

h1 {
    color: black;
}

.view {
    border: 1px solid;
    text-align: center;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    margin-left: 40%;
    padding-top: 12.5px;
    background-color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

table,
th,
td {
    border: 1px black solid;
}

table {
    border-collapse: collapse;
    border-spacing: 10px 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
}

th {
    height: 30px;
    text-align: center;
    background-color: gray;
    color: white;
}

th,
td {
    padding: 10px;
}

td {
    text-align: center;
    height: 40px;
    vertical-align: bottom;
}

.send {
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    height: 30px;
    background-color: gray;
}

.send a {
    color: white;
}

.form {
    border: 1px solid black;
    border-radius: 50px;
    width: 700px;
    height: 300px;
    margin-top: 200px;
    margin-left: 400px;
    background-color: gray;
    text-align: center;
    padding-top: 100;
    font-size: 30px;
}

.submit {
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    height: 70px;
    margin-top: 20px;
    margin-left: 50px;
}